@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('truetype/Spectral-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
