@font-face {
    font-family: 'Marianne';
    src: url('truetype/Marianne-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Marianne';
    src: url('truetype/Marianne-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Marianne';
    src: url('truetype/Marianne-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Marianne';
    src: url('truetype/Marianne-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
