@font-face {
    font-family: 'Marianne';
    font-display: swap;
    src:  local('Marianne Light'), local('Marianne-Light'),
          url('truetype/Marianne-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Marianne';
    font-display: swap;
    src:  local('Marianne Regular'), local('Marianne-Regular'),
          url('truetype/Marianne-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Marianne';
    font-display: swap;
    src: local('Marianne Bold'), local('Marianne-Bold'),
         url('truetype/Marianne-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Marianne';
    font-display: swap;
    src: local('Marianne ExtraBold'), local('Marianne-ExtraBold'),
         url('truetype/Marianne-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
